header.header
	.header__wrapper
		.container
			nav.navbar.navbar-expand-lg.navbar-dark
					a.nav__logo.d-lg-none(href='#') fun weather.
					button.d-lg-none.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarNav.collapse.navbar-collapse.justify-content-between
						a.nav__logo.d-none.d-lg-block(href='#') fun weather.
						.nav__list
							ul.navbar-nav
								li.nav__item
										a.nav__link(href="#home") Home
								li.nav__item
										a.nav__link(href="#features-list") Features
								li.nav__item
										a.nav__link(href="#reviews") Reviews
								li.nav__item
										a.nav__link(href="#download") Download
						.nav__social
							a(href="#")
									img.nav__icons(src="static/images/social/facebook.png", alt="facebook")
							a(href="#")
									img.nav__icons(src="static/images/social/instagram.png", alt="instagram")
							a(href="#")
									img.nav__icons(src="static/images/social/twitter.png", alt="twitter")
