extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	section.first-screen
		.container
			.row
				.col-10.col-sm-6.first-screen__content
					h1.first-screen__header#home Get the most fun weather app
					p.first-screen__description Simple, nice and user-friendly application of the weathter. Only&nbsp;useful information
					.first-screen__buttons
						button.first-screen__download.button Download
						button.first-screen__features.button Features
				.col-6.d-none.d-sm-block
					img.first-sreen__visual.img-fluid(src="static/images/phone.png", alt="phone")
			a.first-screen__scroll-down(href="#features-list")
				img.first-screen__scroll-image(src="static/images/scroll_down.png", alt="scroll down")


	section.features
		.container
			.row
				.sections-header
					h2.sections-header__title#features-list Perfect Features
					span.sections-header__subtitle Only necessary
			.row.features-list

				.col-12.col-md-4.features-list__item--usability
					.features-list__item
						h4.features-list__title Usability
						p.features-list__description Sometimes the simplest things are the hardest to find. So we created a new line for everyday life

				.col-12.col-md-4.features-list__item--parallax
					.features-list__item
						h4.features-list__title Parallax effect
						p.features-list__description Sometimes the simplest things are the hardest to find. So we created a new line for everyday life

				.col-12.col-md-4.features-list__item--colors
					.features-list__item
						h4.features-list__title Unlimites colors
						p.features-list__description Sometimes the simplest things are the hardest to find. So we created a new line for everyday life


	section.widgets
		.container
			.row
				.sections-header
					h2.sections-header__title Simple widgets
					span.sections-header__subtitle Drag and Drop
			.row
				.slider__weather.col-9.mx-auto
					img.slide(src="static/images/left.png ", alt="left")
					img.slide(src="static/images/center.png ", alt="center")
					img.slide(src="static/images/right.png ", alt="right")
					img.slide(src="static/images/left.png ", alt="left")
					img.slide(src="static/images/left.png ", alt="left")
					img.slide(src="static/images/center.png ", alt="center")
					img.slide(src="static/images/right.png ", alt="right")



	section.screenshots
		.container
			.row
				.sections-header
					h2.sections-header__title Screenshots
					span.sections-header__subtitle The brightest images

			.screenshots__wrapper

				.row.justify-content-center
					.col-12.col-md-10
						.row.screenshots__item.justify-content-between.pt-0
							.col-6.col-md-5
								.screenshots__image
									img.img-fluid(src="static/images/screenshots/cloud.png", alt="cloud")
							.col-6.col-md-5.screenshots__content
								.screenshots__icon
									img.img-fluid(src="static/images/screenshots/cloud__icon.png", alt="cloud")
								.screenshots__title When the clouds
								.screenshots__description Variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
								.screenshots__attributes
									img.img-fluid(src="static/images/screenshots/screenshots__attr.png", alt="cloud attrs")
				.row.justify-content-center
					.col-12.col-md-10
						.row.screenshots__item.justify-content-between
							.col-6.col-md-5.screenshots__content
								.screenshots__icon
									img.img-fluid(src="static/images/screenshots/sun__icon.png", alt="sun")
								.screenshots__title When the rain
								.screenshots__description Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest
								.screenshots__attributes
									img.img-fluid(src="static/images/screenshots/screenshots__attr.png", alt="cloud attrs")
							.col-6.col-md-5
								.screenshots__image
									img.img-fluid(src="static/images/screenshots/sun.png", alt="sun")
				.row.justify-content-center
					.col-12.col-md-10
						.row.screenshots__item.justify-content-between
							.col-6.col-md-5
								.screenshots__image
									img.img-fluid(src="static/images/screenshots/rain.png", alt="rain")
							.col-6.col-md-5.screenshots__content
								.screenshots__icon
									img.img-fluid(src="static/images/screenshots/rain__icon.png", alt="rain")
								.screenshots__title When the clouds
								.screenshots__description Variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
								.screenshots__attributes
									img.img-fluid(src="static/images/screenshots/screenshots__attr.png", alt="cloud attrs")


	section.review
		.container
			.row
				.sections-header
					h2.sections-header__title#reviews What people are saying
					span.sections-header__subtitle Reviews
			.review__wrapper
				.row
					.col-6
						.review__item
							.review__header What art offers is space - a certain breathing room for the spirit.
							.review__author John Updike
					.col-6
						.review__item
							.review__header We do not see nature with our eyes, but with our understandings and our hearts.
							.review__author William Hazlitt
				.row.review__row
					.col-6
						.review__item
							.review__header The only courage that matters is the kind that gets you from one moment to the next.
							.review__author Mignon McLaughlin
					.col-6
						.review__item
							.review__header No man has a good enough memory to be a successful liar.
							.review__author Abraham Lincoln


	section.download
		.container
			.row
				.download__wrapper
					.col-10.col-md-6
						.download__header#download How Download the&nbsp;app?
						.download__description Just download the app from the store. Simple, nice and user-friendly application of theweather. Only relevant and useful information.
						.download__apps
							a(href="#")
								img.download__appstore.img-fluid(src="static/images/download__appstore.png", alt="appstore")
							a(href="#")
								img.download__googleplay.img-fluid(src="static/images/download__googleplay.png", alt="googleplay")
