/*
  Ubuntu
*/

@font-face {
	font-family: 'Ubuntu';
	font-weight: 700;
	src: url('../fonts/Ubuntu-Bold.woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 500;
	src: url('../fonts/Ubuntu-Medium.woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 400;
	src: url('../fonts/Ubuntu-Regular.woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-weight: 300;
	src: url('../fonts/Ubuntu-Light.woff');
}
