// Colors
$white: #ffffff;
$black: #000000;
$lightblue: #638af7;
$darkblue: #353854;
$orange: #fc6a42;
$white: #fff;
$gray: #999;

//* links
$link: #fff;
$visited: #353854;
$hover: #fc6a42;
$active: #fc6a42;
$focus: #fc6a42;

// Sizes
$base-font-size: 1.6rem;
$Ubuntu: 'Ubuntu', sans-serif;
$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1024px;

// Fonts
