/* src/assets/styles/pages/_index.scss  */

/*
* First screen
*/

.first-screen {
	background-image: url('../images/bg.png');
	background-position: 50% 75%;
	padding: 12rem 0;
	&__content {
			padding-top: 9rem;
			max-height: 42rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
	}
	&__header {
			font-size: 6rem;
			font-weight: 700;
			color: $white;
			line-height: 1;
	}
	&__description {
			font-size: 1.8rem;
			line-height: 3rem;
			font-weight: 400;
			color: $white;
	}
	&__buttons {
			color: $white;
			font-size: 1.8rem;
			border: none;
	}
	&__download {
			background-color: $orange;
	}
	&__features {
			background-color: $darkblue;
			margin-left: 2rem;
	}
	&__scroll-down {
			display: flex;
			justify-content: center;
	}
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.first-screen {
		padding: 8rem 0;

		&__content {
				padding-top: 5rem;
				max-height: 33rem;
		}
		&__header {
				font-size: 4.2rem;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.first-screen {
			padding: 1rem 0;

			&__content {
					padding-top: 5rem;
			}
			&__header {
					font-size: 3rem;
			}

			&__description {
					font-size: 1.6rem;
					line-height: 1.5;
			}

			&__scroll-image {
					width: 6rem;
					height: 6rem;
			}

	}
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
	.first-screen {
			&__content {
					padding-top: 2rem;
					min-height: 17rem;
			}
			&__header {
					font-size: 2.4rem;
			}

			&__description {
					font-size: 1.4rem;
			}
			&__scroll-down {
					padding-top: 2rem;
			}
	}

}

/*
* Features
*/

.features {
	padding: 6rem 0;
}

.features-list {
	padding-top: 12rem;
	&__item {
			display: flex;
			flex-direction: column;
			max-width: 37rem;
			margin-left: 10rem;
	}
	&__item--usability:before {
			@include pseudo();
			background-image: url('../images/1.png');
			width: 8rem;
			height: 6.2rem;
	}
	&__item--parallax:before {
			@include pseudo();
			background-image: url('../images/2.png');
			width: 7.8rem;
			height: 6.2rem;
	}
	&__item--colors:before {
			@include pseudo();
			background-image: url('../images/3.png');
			width: 7.7rem;
			height: 6.2rem;
	}
	&__title {
			font-size: 2.4rem;
			color: $darkblue;
			font-weight: 700;
			line-height: 1;
	}
	&__description {
			color: $gray;
			font-size: 1.6rem;
			font-weight: 400;
			padding-top: 2rem;
			line-height: 2;
	}
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.features {
			padding: 4rem 0;
	}

	.features-list {
			padding-top: 5rem;
			&__item {
					margin-left: 4rem;
			}
			&__title {
					font-size: 2rem;
			}
			&__description {
					line-height: 1.5;
			}
			&__item--colors:before,
			&__item--usability:before,
			&__item--parallax:before
			{
					background-size: 40%;
					background-repeat: no-repeat;
			}
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
.features-list {
	padding-top: 3rem;
	&__item {
			margin-left: 8rem;
	}
	&__title {
			font-size: 2rem;
	}
	&__description {
			line-height: 1.5;
	}
	&__item--parallax, &__item--colors {padding-top: 2rem;}
	&__item--colors:before,
	&__item--usability:before,
	&__item--parallax:before
	{
			background-size: 70%;
			background-repeat: no-repeat;
	}
}
}

/*
* Slider
*/

.widgets {
	padding: 6rem 0;
}
.slider__weather {
	padding-top: 5rem;
}

.slide {
	padding: 10rem 0;
	max-width: 30rem;
	transition: all 0.8s ease-out;
}

.slick-slide {
	width: 32rem;
}

.slick-center {
	transform: scale(1.15);
}


.slide-arrow{
position: absolute;
top: 50%;
margin-top: -15px;
border: none;
background-color: transparent;
background-repeat: no-repeat;
}
.prev-arrow{
left: -100px;
width: 2.8rem;
height: 5.2rem;
background-image: url('../images/left__arrow.png');
}
.next-arrow{
right: -100px;
width: 2.8rem;
height: 5.2rem;
background-image: url('../images/right__arrow.png');
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.widgets {
			padding: 4rem 0;
	}

	.slide-arrow {
			background-size: 60%;
	}

	.slider {
			&__weather {
					padding-top: 0;
			}
	}
	.slide {
			padding: 5rem 0;
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.prev-arrow, .next-arrow {
			height: 3.2rem;
	}

	.prev-arrow {
			left: -50px;
	}

	.next-arrow {
			right: -50px;
	}
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
	.widgets {
			padding: 4rem 0 0;
	}
	.slide {
			padding: 3rem 0;
	}

	.prev-arrow {
			left: -30px;
	}

	.next-arrow {
			right: -35px;
	}
}

/*
* Screenshots
*/

.screenshots {
	padding: 6rem 0;
}
.img-fluid {
max-width: 100%;
height: auto;
}
.screenshots {
	&__wrapper {
			padding-top: 10rem;
	}
	&__item {
			padding-top: 10rem;
	}
	&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
	}
	&__title {
			font-size: 3.6rem;
			color: $lightblue;
			font-weight: 700;
			text-transform: uppercase;
			padding: 3rem 0;
	}
	&__description {
			font-size: 2.4rem;
			color: $darkblue;
			font-weight: 100;
	}
	&__attributes {
			padding-top: 4rem;
	}
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.screenshots {
			padding: 4rem 0;

			&__wrapper {
					padding-top: 5rem;
			}

			&__item {
					padding-top: 5rem;
			}

			&__title {
					font-size: 3rem;
					line-height: 1;
					padding: 2rem 0;
			}

			&__description {
					font-size: 2rem;
					line-height: 1.3;
			}
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.screenshots {
			&__description {
					font-size: 1.8rem;
			}
	}
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
	.screenshots {
			&__title {
					font-size: 2.2rem;
			}

			&__description {
					font-size: 1.6rem;
			}

			&__attributes {
					padding-top: 0;
			}
	}
}
/*
* Review
*/

.review {
	padding: 6rem 0;
	&__wrapper {
		padding: 15rem 0;
	}
	&__row {
		padding-top: 10rem;
	}
	&__item {
			display: flex;
			flex-direction: column;
			padding: 5rem 0;
			color: $darkblue;

	}
	&__header:before {
		@include pseudo();
		background-image: url('../images/quote__left.png');
		width: 4.7rem;
		height: 3.5rem;
		top: 0;
		left: 1rem;
		background-repeat: no-repeat;
	}
	&__header {
			font-size: 2.4rem;
			font-weight: 400;
	}
	&__author {
			font-size: 1.8rem;
			padding-top: 2rem;
	}
	&__author:after {
		@include pseudo();
		background-image: url('../images/quote__right.png');
		width: 4.7rem;
		height: 3.5rem;
		bottom: 0;
		right: 2rem;
		background-repeat: no-repeat;
	}
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.review {
			padding: 4rem 0;

			&__wrapper {
					padding: 5rem 0;
			}

			&__item {
					padding: 3rem 0;
			}
			&__header {
					font-size: 2rem;
			}

			&__header:before,
			&__author:after
			{
					background-size: 100%;
					width: 2.5rem;
			}

			&__author {
					padding-top: 1rem;
			}
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.review {
			&__wrapper {
					padding: 3rem 0;
			}

			&__item {
					padding: 2rem 0;
			}

			&__header {
					font-size: 1.6rem;
			}

			&__author {
					font-size: 1.4rem;
			}
			&__header:before,
			&__author:after
			{
					width: 2rem;
			}

			&__row {
					padding-top: 2rem;
			}
	}
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
	.review {
			padding-bottom: 1rem;
			&__wrapper {
					padding: 1rem 0;
			}
	}
}
/*
* Download
*/

.download {

background-color: $lightblue;
background-image: url('../images/download__bg.png');
background-position: 100% 50%;
background-repeat: no-repeat;
background-size: auto 80%;
color: $white;
&__wrapper {
	padding: 12rem 0;
}
&__header {
	font-size: 3.6rem;
	font-weight: 700;
	text-transform: uppercase;
}
&__description {
	font-size: 1.8rem;
	padding: 4rem 0;
}
&__googleplay {
	padding-left: 1rem;
}
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.download {
			background-size: auto 60%;
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.download {
			background-image: none;

			&__wrapper {
					padding: 4rem 0;
			}

			&__header {
			font-size: 3.1rem;
			line-height: 1.3;
	}

	&__appstore, &__googleplay {
			width: 10rem;
	}
	}
}
