/* src/assets/styles/components/_button.scss  */

.clean-button {
	border: none;
	background: none;
}

.button {
	@extend .clean-button;
	color: $white;
	border-radius: 0.5rem;
	padding: 1.5rem 4rem;
	transition: .3s ease-in-out;
	&:hover {
			filter: grayscale(0.2) brightness(1.2);
	}
}

/*
Responsive
*/

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.button {
			padding: 1rem 2rem;
	}
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.button {
			padding: 0.5rem 1rem;
			font-size: 1.4rem;
	}
}
