.header {
	background-color: $lightblue;
	&__wrapper {
			padding: 3rem 0;
	}
}

.nav {
	&__logo {
			color: $white;
			font-size: 2.1rem;
			font-weight: 700;
			text-transform: uppercase;
			&:hover   { color:$white; text-decoration:none; }
	&:active  { color:$white;}
	&:focus   { color:$white; }
			}
	&__item {
			padding: 0 4rem;
	}
	&__link {
			color: #e1e1e1;
			font-size: 1.8rem;
			font-weight: 400;
			transition:.2s;
			text-decoration: none;
	&:hover   { color:$white; text-decoration:none; }
	&:active  { color:$white;}
	&:focus   { color:$white; }
	}

	&__icons {
			padding: 0 2rem;
	}
}

.navbar {
	padding: 0;
}


/*
Responsive
*/
// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
	.nav {
			&__item {
					padding: 0 2rem;
			}

			&__icons {
					padding: 0 1rem;
			}
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-down(md) {
	.nav {
			&__item {
					padding: 0.5rem 0
			}

			&__logo {
					font-size: 2rem;
			}

			&__link {
					font-size: 1.6rem;
			}

			&__list {
					padding-top: 2rem;
			}
			&__social {
					padding-top: 2rem;
					max-width: 10rem;
					justify-content: space-between;
					display: flex;
			}

			&__icons {
					padding: 0;
			}
	}
}
// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	.header {
			&__wrapper {
					padding: 1rem 0;
			}
	}
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
	.nav {
			&__icons {
					height: 2rem;

					}
	}
}
